In [1]:
import pandas as pd
import requests
from datetime import datetime, timedelta
#from py_exchangeratesapi import Api

In [2]:
#api = Api(API_KEY)

Declaring parameters as variables.

In [3]:
#'http://api.exchangeratesapi.io/v1/fluctuation'
#API_KEY = 'e37b55562fce53d9066affcd84dcf2bb'
base_url = 'https://api.exchangerate.host/timeseries'
base_currency = 'EUR'
target_currencies = ['SEK', 'PLN', 'NOK', 'GBP', 'DKK', 'CHF']
start_date = (datetime.now() - timedelta(days=3 * 365)).date().strftime("%Y-%m-%d") 
end_date = datetime.now().date().strftime("%Y-%m-%d")

In [4]:
data = []

Getting data from the api and appending them to the empty list.

In [5]:
for currency in target_currencies:
    url = f'{base_url}?start_date={start_date}&end_date={end_date}&base={base_currency}&symbols={currency}'
    response = requests.get(url)
    result = response.json()
#result    
    for date, rates in result['rates'].items():
        data.append({'Date': date, 'Currency': currency, 'ExchangeRate': rates[currency]})

Converting list to dataframe and saving as csv.

In [6]:
df = pd.DataFrame(data)

In [7]:
df.head()

         Date Currency  ExchangeRate
0  2020-08-16      SEK     10.287375
1  2020-08-17      SEK     10.309879
2  2020-08-18      SEK     10.312558
3  2020-08-19      SEK     10.304694
4  2020-08-20      SEK     10.327916

In [8]:
csv_filename = 'C:/Users/User/Desktop/database design/01_Staging Part/currency_rates.csv'

In [9]:
df.to_csv(csv_filename, index=False)